.button {
  align-items: center;
  background-clip: padding-box;
  background: transparent;
  border: 1px solid #1f5654;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 40px 0;
  padding: 12px 23px;
  position: relative;
  min-height: 3rem;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 400px;
}

.button:hover,
.button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

@media only screen and (max-width: 480px) {
  .button {
    width: 300px;
    padding: 8px 15px;
    font-size: 12px;
    min-height: 2.5rem;
  }
}
